@font-face {
  font-family: 'Comic-Sans';
  src: url("../fonts/comic-sans.ttf") format('opentype');
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'SF-Reg';
  src: url('../fonts/sf-pro-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, p {
  font-family: "SF-Reg", sans-serif;
}

.TweakInfo {
  font-family: "SF-Reg", sans-serif;
  font-size: 18px;
}