@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Sofia+Sans&family=Exo:wght@500&display=swap");

/* use vars bypassi! */
:root {
  --white: #e6d8ff;
  --font: #e6d8ff;

  --light: #a791e8;
  --dark2: #59498a;
  --dark1: #946adc;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Exo", sans-serif;
}

@keyframes scroll {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -1359px 0px;
  }
}

html {
  scroll-behavior: smooth;
}

.header {
  background-repeat: no-repeat;
  background-image: url("/sh1mmer/assets/background_min.webp");
  background-size: 540px 100%;
  background-repeat: repeat-x;
  text-align: center;
  padding: 50px 5vw;
  color: var(--font);
  animation: scroll 60s linear infinite;
}

.header h1 {
  font-size: 15vw;
  font-family: "Sofia Sans", sans-serif;
  user-select: none;
}

.header .acronym {
  font-size: 35px;
}

.section {
  padding: 50px 5vw;
  color: var(--font);
}

.section.blue {
  background-color: var(--light);
}
.section.green {
  background-color: var(--dark1);
}
*::selection {
  background-color: var(--dark2);
}

h3 {
  font-family: "Space Grotesk", monospace;
  font-size: 50px;
}

p,
li,
img {
  margin-top: 30px;
  font-size: 25px;
}

u {
  cursor: pointer;
  padding: 3px 6px;
}

kbd {
  font-family: "Space Grotesk", monospace;
  background-color: var(--dark2);
  color: var(--white);
  font-size: 90%;
  border-radius: 10px;
  padding: 3px;
  vertical-align: middle;
  white-space: nowrap;
}

kbd::selection {
  background-color: var(--light);
}

hr {
  width: 500px;
  max-width: 100%;
  border: 3px solid var(--white);
  margin: 40px 0px;
}

img {
  width: 500px;
  max-width: 100%;
  border: 3px solid var(--white);
  vertical-align: top;
}

spc {
  margin-right: 10px;
}

a {
  background-color: var(--white);
  color: black;
  border: none;
  font-size: 90%;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 10px;
  font-family: "Sofia Sans", sans-serif;
  padding: 5px 10px;
  max-width: 100%;
  transition: filter 250ms;
  cursor: pointer
}

a:not(.disabled):hover,
button:not(.disabled):hover {
  filter: brightness(80%);
}

.disabled {
  filter: grayscale(1) brightness(0.5);
  cursor: not-allowed !important;
}

.waxbutton {
  display: block;
  width: max-content;
  user-select: none;
  cursor: pointer;
  text-align: center;
  margin: 16px auto;
  font-size: 30px;
  font-weight: bold;
}

#displayContainer {
  display: none;
  justify-content: space-evenly;
}

.builderlog * {
}

.builderlog {
  font-family: monospace;
  color: white;
  background-color: black;
  width: 40vw;
  height: 20vw;
  font-family: monospace;
  font-size: 13px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
  white-space: pre;
}

#linuxOutput {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
}

.waxfooter {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
}

#waxOptions {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin-bottom: 50px;
}

#waxOptions input[type=checkbox] {
  transform: scale(1.5);
  cursor: pointer;
  accent-color: #0f9931;
  vertical-align: baseline;
}

#waxOptions label {
  font-size: 20px;
  text-align: center;
}

#waxOptions span {
  color: white;
  margin: 5px;
}

#waxOptions label i {
  display: block;
  font-size: 75%;
}
