body {
  background-color: #131516;
  color: #e3e1de;
}

a[href] {
  color: #2e8ff9;
}

.vertical {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: table-cell;
  padding: 40px;
  border: 5px solid #1c87c9;
  scroll-margin: 0;
}

/* creds: kxtz website */
.alt {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.alt-main {
  background-color: #0D1117;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  border: 5px solid #fff;
  box-shadow: 0 0 15px rgba(49, 50, 68, 0.5);
  text-align: center;
}

.sakamato {
  width: auto;
  height: 200px;
  vertical-align: middle;
}

.icons {
  margin-top: 20px;
}

.icons a {
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

.icons a:hover {
  color: #888888;
}

/* this is all mainly from kxtz's about me css */

.hide {
  display: none;
}

.buttonuhh {
  background-color: #191919;
  border: 1px solid #fff;
  border-radius: 26px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family:
    "SF-Reg",
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 26px 36px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition:
    box-shadow 0.2s,
    -ms-transform 0.1s,
    -webkit-transform 0.1s,
    transform 0.1s;
  -webkit-user-select: none;
  user-select: none;
  width: auto;
}

.buttonuhh:focus-visible {
  box-shadow:
    #222222 0 0 0 2px,
    rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.buttonuhh:active {
  background-color: #141414;
  border-color: #fff;
  transform: scale(0.96);
}

.buttonuhh:disabled {
  background-color: grey;
  border-color: #dddddd;
  color: #000000;
  cursor: not-allowed;
  opacity: 1;
}
