html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Inter";
  position: relative;
  overflow: hidden;
  color: #fff;
  background: linear-gradient(#123, #111);
}

a[href] {
  color: #2e8ff9;
}

.vertical {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: table-cell;
  padding: 40px;
  border: 5px solid #1c87c9;
  scroll-margin: 0;
}

/* creds: kxtz website */
.alt {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.alt-main {
  background-color: rgb(17, 17, 17, 0.3);
  max-width: 300px;
  padding: 20px;
  border-radius: 75px;
  border: 3px solid #fff;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.75);
  text-align: center;
}
/* all the stuff up here is from kxtz's about me site, so ty for that!! */

.sakamato {
  width: auto;
  height: 150px;
  margin-bottom: -15px;
  vertical-align: middle;
}

.header-height {
  margin-bottom: 10px;
}

.text-height {
  margin-top: 10px;
  line-height: 1.2;
}

.icons {
  margin-left: 8px;
  margin-right: 8px;
  width: 25px;
  height: 25px;
  transition: opacity 0.5s;
}

.icons:hover {
  opacity: 0.1;
}

@keyframes snowfall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(130vh);
    }
}

.snowflake {
    --size: 1vw;
    width: var(--size);
    height: var(--size);
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -5vh;
    animation: snowfall infinite;
    opacity: 0.1
}

.hide {
  display: none;
}

.buttonuhh {
  background-color: #191919;
  border: 1px solid #fff;
  border-radius: 26px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family:
    "SF-Reg",
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 26px 36px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition:
    box-shadow 0.2s,
    -ms-transform 0.1s,
    -webkit-transform 0.1s,
    transform 0.1s;
  -webkit-user-select: none;
  user-select: none;
  width: auto;
}

.buttonuhh:focus-visible {
  box-shadow:
    #222222 0 0 0 2px,
    rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.buttonuhh:active {
  background-color: #141414;
  border-color: #fff;
  transform: scale(0.96);
}

.buttonuhh:disabled {
  background-color: grey;
  border-color: #dddddd;
  color: #000000;
  cursor: not-allowed;
  opacity: 1;
}
