@use '../../css/fonts.sass'

*
  text-align: center

p, h2
  font-family: "SF-Reg", system-ui

marquee
  text-align: initial !important

a[href]
  color: #2e8ff9

.float
  animation: MoveUpDown 1s ease-in-out infinite, MoveLeft 3.72s ease-in-out infinite
  position: relative
  left: 0
  bottom: 0

@keyframes MoveUpDown
  0%,
  100%
    bottom: -8px

  50%
    bottom: 8px

@keyframes MoveLeft
  0%,
  100%
    left: -8px

  50%
    left: 8px

body, html
  --lightness: 40%
  background-color: #131516
  color: #e3e1de
  font-size: 107%

select, button
  background-color: #e3e1de
  border-color: #5a5a5a
  padding-bottom: 1px
  padding-top: 1px
  border-radius: 6px
  border-width: 2px
  font-size: 90%
  width: 150px

summary:after 
  content: "click to show credits"
  font-weight: bold

details[open] summary:after 
  content: "click to close credits"
  font-weight: bold