<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <title>Error 404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preload" href="css/old.css" as="style" />
    <link rel="stylesheet" href="/css/old.css" />
    <link rel="preload" href="css/fonts.css" as="style" />
    <link rel="stylesheet" href="/css/fonts.css" type="text/css" />
    <link rel="apple-touch-icon" href="/img/site-touch-icon.webp" />
    <link
        rel="apple-touch-icon"
        sizes="72x72"
        href="/img/site-touch-icon-72x72.webp"
    />
    <link
      rel="icon"
      sizes="128x128"
      type="image/x-icon"
      href="/img/site-favicon.webp"
    />
  </head>
  <body>
    <div class="vertical">
      <h1><p style="text-align: center;">Error 404</p></h1>
      <p style="text-align: center;">Unknown Page Found</p>
      <h1>
        <p style="text-align: center;">
          <a href="/index">Go Back</a>
        </p>
      </h1>
    </div>
  </body>
</html>
