---
import "@fontsource/inter";
import "../../public/css/style.sass";
import { Button, CssVarsProvider } from "@mui/joy";
---
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <title>Oops.. 404!</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta property="og:title" content="Oops.. 404!" />
    <meta property="og:description" content="Quick Profile of Darkn" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="404.. Oops!" />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="apple-touch-icon" href="/img/site-touch-icon.webp" />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/img/site-touch-icon-72x72.webp"
    />
    <link rel="icon" type="image/x-icon" href="/img/site-favicon.webp" />
    <style lang="sass">
      body
        display: flex
        overflow: hidden
        justify-content: center
        align-items: center
        min-height: 100vh
      a
        color: rgb(199, 223, 247)
    </style>
  </head>
  <CssVarsProvider defaultMode="dark">
    <body class="alt">
      <div class="alt-main">
        <h1 class="404-header-height">Oops.. 404!</h1>
        <p class="404-text-height">You shouldn't be here! Go back...  or else.</p>
        <p class="404-text-height" style="text-align: center;">
          <Button component="a" href="/" size="sm" variant="soft">Go Back</Button>
        </p>
      </div>
      <div id="snowflake-container"></div>
      <script src="../../public/js/snowflakes.ts"></script>
      <script src="../../public/js/404mobiledetection.ts"></script>
    </body>
  </CssVarsProvider>
</html>
