<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <title>Error 404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preload" href="css/fonts.css" as="style" />
    <link rel="stylesheet" href="/css/fonts.css" type="text/css" />
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
    <link
      rel="”apple-touch-icon”"
      sizes="”72×72″"
      href="”/img/apple-touch-icon-72x72.png”/"
    />
    <link
      rel="icon"
      sizes="128x128"
      type="image/x-icon"
      href="/img/favicon.png"
    />
  </head>
  <body>
    <div class="vertical">
      <h1><p style="text-align: -webkit-center;">Error 404</p></h1>
      <p style="text-align: -webkit-center;">Unknown Page Found</p>
      <h1>
        <p style="text-align: -webkit-center;">
          <a href="/index">Go Back</a>
        </p>
      </h1>
    </div>
  </body>
</html>
