<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <title>Darkn's Bio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="Darkn's Bio" />
    <meta property="og:description" content="Quick Profile of Darkn" />
    <meta property="og:url" content="https://osu.bio" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://osu.bio/img/sakamato-1024x.PNG"
    />
    <meta property="og:image:alt" content="Sakamato" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />
    <meta property="og:site_name" content="Profile" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/fonts.css" type="text/css" />
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
    <link
      rel="”apple-touch-icon”"
      sizes="”72×72″"
      href="”/img/apple-touch-icon-72x72.png”/"
    />
    <link rel="icon" type="image/x-icon" href="/img/favicon.png" />
  </head>
  <body>
    <div class="alt">
      <h1>
        alternative index.html
      </h1>
      <p>
        soon
      </p>
    </div>
  </body>
</html>
