---
---

<!DOCTYPE html>
<head>
  <html lang="en-us">
    <meta charset="utf-8" />
    <head>
      <title>iCrazeWare</title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta property="og:title" content="iCrazeWare" />
      <meta property="og:description" content="The Truth Behind iCraze" />
      <meta property="og:url" content="https://osu.bio/icraze" />
      <meta property="og:type" content="website" />
      <meta
        property="og:image"
        content="https://osu.bio/img/icraze-1024x.png"
      />
      <meta property="og:image:alt" content="Truth" />
      <meta property="og:image:width" content="512" />
      <meta property="og:image:height" content="512" />
      <meta property="og:site_name" content="iCraze" />
      <link rel="stylesheet" href="/css/style.css" />
      <link rel="stylesheet" href="/css/fonts.css" type="text/css" />
      <link rel="apple-touch-icon" href="/img/icraze-touch-icon.png" />
      <link
        rel="”apple-touch-icon”"
        sizes="”72×72″"
        href="”/img/icraze-touch-icon-72x72.png”/"
      />
      <link rel="icon" type="image/x-icon" href="/img/icraze-favicon.png" />
      <script>
        const idk = document.querySelectorAll("button.idk");

        idk.forEach((button) => {
          button.addEventListener("click", () => {
            const crazy = document.getElementById("crazy");
            const btn = document.getElementById("btn");
            btn!.style.display = "none";
            crazy!.style.display = "block";
          });
        });
      </script>
    </head>
    <body>
      <br />
      <button
        id="btn"
        style="position: fixed; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);"
        class="buttonuhh idk">click</button
      >
      <div id="crazy" style="display: none">
        <p style="font-family: Comic-Sans; text-align: -webkit-center;">
          <font size="+3"><b>p.s: this is fully satire</b></font>
          <br />
          <font size="+1">this was ai generated and partly edited</font>
        </p>

        <hr />
        <h1>iCraze: A Malware Distributor</h1>
        <font size="+1"
          ><p>
            iCraze was a well-known developer of iOS jailbreak tweaks. He was
            known for his high-quality tweaks and his willingness to help other
            developers. However, in 2023, it was revealed that iCraze had been
            putting malware in his tweaks. The malware was designed to steal
            users' personal information, such as their device information,
            passwords, and location. iCraze was quickly exposed and banned from
            the jailbreak acommunity.
            <br />
            <br />
            The iCraze malware scandal was a major blow to the jailbreak community.
            It showed that even trusted developers could be compromised. As a result
            of the scandal, many users became more cautious about installing tweaks
            from unknown sources.
            <br />
            <br />
            The iCraze malware scandal also had a significant impact on the iOS jailbreak
            scene. It led to a decline in the number of jailbreak tweaks being developed
            and released. It also made it more difficult for users to find safe and
            reliable jailbreak tweaks.
            <br />
            <br />
            This should be a reminder to YOU that even the most trusted developers
            can be compromised. It is important to be vigilant when installing tweaks
            from unknown sources and to only install tweaks from trusted developers
            or repositories. You should also remove any repos or tweaks that have
            a warning in Sileo.
          </p></font
        >
        <h1>Infected Tweaks:</h1>
        <ul>
          <h2>
            <li><a href="https://havoc.app/package/nexus">Nexus</a></li>
          </h2>
          <div class="TweakInfo">
            <p>
              Nexus is an iOS 16-inspired lock screen customization tweak that
              is meant to surpass much worse tweaks such as
              <a href="https://havoc.app/package/aim">AIM</a> and
              <a href="https://havoc.app/package/aimpro">AIM Pro</a>. However on
              March 14, 2023, iCraze created an update which was meant to be
              some small "fixes and changes". This included a piece of malware
              which infected every device who had updated to that version of
              Nexus at the time.
            </p>
          </div>
          <h2>
            <li><a href="https://havoc.app/package/hestia">Hestia</a></li>
          </h2>
          <div class="TweakInfo">
            <p>
              Hestia is a jailbreak detection bypasser, being similar to other
              tweaks such as A-Bypass and Shadow. However on December 10, 2022,
              iCraze published an update to the Hestia tweak on Havoc which was
              meant to fix a preference issue on
              <a href="https://github.com/NotDarkn/XinaA15">XinaA15</a>. This
              update happened to also include a piece of malware in the code
              which infected all devices running iOS 15.0 up to 15.1.1.
            </p>
          </div>
          <h2>
            <li>
              <a href="https://havoc.app/package/customplayer">Custom Player</a>
            </li>
          </h2>
          <div class="TweakInfo">
            <p>
              Custom Player is a tweak that allowed an end-user to easily modify
              their music player. On February 14, 2022, this was one of, if not
              the first tweak, to get injected with the "iCraze Malware" which
              made all devices that had Custom Player installed start to slow
              down. This slowdown would drastically get worse as the user kept
              using their phone by the minute, and after 10 minutes the device
              would go into a
              <a href="https://ios.cfw.guide/troubleshooting/#bootloops"
                >bootloop</a
              >; permanently being bricked.
            </p>
          </div>
        </ul>
        <hr />
        <p style="font-family: Comic-Sans; text-align: -webkit-center;">
          <font size="+2"
            ><a href="https://github.com/NotDarkn/website">GitHub</a> |
            <a href="https://github.com/NotDarkn/website/blob/main/CHANGES.md"
              >Changelogs</a
            >
            |
            <a href="https://github.com/NotDarkn/website/blob/main/TO-DO.md"
              >To-do List</a
            ></font
          >
          <br />
          <font size="3px"
            >a website by
            <a href="https://discord.com/users/829745505784692776"
              ><b>notdarkn#7188</b></a
            ></font
          >
        </p>
      </div>
    </body>
  </html>
</head>
