---
import "@fontsource/inter";
import "/public/css/style.sass";
import { Box, Alert, CssVarsProvider } from "@mui/joy";

---

<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <title>Darkn's Bio</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta property="og:title" content="Darkn's Bio" />
    <meta property="og:description" content="Quick Profile of Darkn" />
    <meta property="og:url" content="https://darkn.bio" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/img/site-favicon.webp" />
    <meta property="og:image:alt" content="Sakamato" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />
    <meta property="og:site_name" content="Profile" />

    <link rel="preload" href="/img/discord-icon-alt.webp" as="image" />
    <link rel="preload" href="/img/sh1mmer-alt.webp" as="image" />
    <link rel="preload" href="/img/twitter.webp" as="image" />
    <link rel="preload" href="/img/download.webp" as="image" />
    <link rel="preload" href="/img/blog_icon.webp" as="image" />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="apple-touch-icon" href="/img/site-touch-icon.webp" />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/img/site-touch-icon-72x72.webp"
    />
    <link rel="icon" type="image/x-icon" href="/img/site-favicon.webp" />
    <meta name="darkreader-lock">
  </head>
  <body>
    <div class="alert">
    <CssVarsProvider defaultMode="dark">
        <Box
        sx={{
          display: "flex",
          alignItems: "center",
          justifyContent: "center",
          pt: "20px",
          mb: "-75px",
        }}
      >
        <Alert
          color="neutral"
          variant="outlined"
          size="md"
        >
          osu.bio has moved to darkn.bio!
        </Alert>
      </Box>
      </CssVarsProvider>
    </div>
    <div class="center">
    <div class="box">
      <a href="https://oneshot.fandom.com/wiki/Calamus" target="_blank">
        <img
          class="pfp"
          src="https://cdn.discordapp.com/avatars/829745505784692776/d26ee6e6c21ddf8f0074f54288b0dccd.png?size=4096"
          alt="oneshot calamus"
        />
      </a>
      <h1 class="header">Darkn</h1>
      <p class="text">
        ✨ a (shit) web developer interested in Chromebooks and iOS jailbreaks.
        currently 16 years old! 🌎
      </p>
      <a href="https://discord.gg/ER8saRhYpg" target="_blank">
        <img src="/img/discord-icon-alt.webp" class="icons-a" />
      </a>
      <a href="https://twitter.com/notdarkn" target="_blank">
        <img src="/img/twitter.webp" class="icons-b" />
      </a>
      <a href="/sh1mmer" target="_blank">
        <img src="/img/sh1mmer-alt.webp" class="icons-c" />
      </a>
      <a href="https://dl.darkn.bio" target="_blank">
        <img src="/img/download.webp" class="icons-d" />
      </a>
      <a href="https://blog.darkn.bio" target="_blank">
        <img src="/img/blog_icon.webp" class="icons-e" />

      </a>
    </div>
    <div id="snowflake-container"></div>
    <script src="../../public/js/iconchange.ts"></script>
    <script src="../../public/js/snowflakes.ts"></script>
    <script src="../../public/js/mobiledetection.ts"></script>
    </div>
  </body>
</html>
