---
import '../../public/css/old.sass'
import '../../public/css/fonts.sass'
---

<!doctype html>
<head>
  <html lang="en-us">
    <meta charset="utf-8" />
    <head>
      <title>iCrazeWare</title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta property="og:title" content="iCrazeWare" />
      <meta property="og:description" content="The Truth Behind iCraze" />
      <meta property="og:url" content="https://osu.bio/icraze" />
      <meta property="og:type" content="website" />
      <meta
        property="og:image"
        content="https://osu.bio/img/icraze-touch-icon.webp"
      />
      <meta property="og:image:alt" content="Truth" />
      <meta property="og:image:width" content="512" />
      <meta property="og:image:height" content="512" />
      <meta property="og:site_name" content="iCraze" />
      <link rel="apple-touch-icon" href="/img/icraze-touch-icon.webp" />
      <link
        rel="”apple-touch-icon”"
        sizes="”72×72″"
        href="”/img/icraze-touch-icon-72x72.webp/"
      />
      <link rel="icon" type="image/x-icon" href="/img/icraze-favicon.webp" />
      <script>
      document.getElementById('checkbox1').onclick = function() {
          checkBoxes();
      }
      document.getElementById('checkbox2').onclick = function() {
          checkBoxes();
      }
      document.getElementById('checkbox3').onclick = function() {
          checkBoxes();
      }

      function checkBoxes() {
          var checkbox1 = document.getElementById('checkbox1');
          var checkbox2 = document.getElementById('checkbox2');
          var checkbox3 = document.getElementById('checkbox3');
          var submitButton = document.getElementById('submitButton');

          if (checkbox1.checked && checkbox2.checked && checkbox3.checked) {
              submitButton.disabled = false;
          } else {
              submitButton.disabled = true;
          }
      }

      document.getElementById('submitButton').onclick = function() {
          document.getElementById('checkboxContainer').style.display = 'none';
          document.getElementById('mainContent').style.display = 'block';
      }
      </script>
      <style>
        #submitButton[disabled] {
          background-color: gray;
        }
      </style>
    </head>
    <body>
      <br />
      <div id="checkboxContainer">
        <div class="vertical">
          <input type="checkbox" id="checkbox1" name="checkbox1" value="Checkbox1">
          <label for="checkbox1">Checkbox 1</label><br>
          <input type="checkbox" id="checkbox2" name="checkbox2" value="Checkbox2">
          <label for="checkbox2">Checkbox 2</label><br>
          <input type="checkbox" id="checkbox3" name="checkbox3" value="Checkbox3">
          <label for="checkbox3">Checkbox 3</label><br>
          <input type="button" id="submitButton" value="Submit" disabled>
        </div>
      </div>
      <div id="mainContent" style="display: none">
        <p style="font-family: Comic-Sans; text-align: -webkit-center;">
          <font size="+3"><b>p.s: this is fully satire</b></font>
          <br />
          <font size="+1">this was ai generated and partly edited</font>
        </p>
        <hr />
          <h1>Welcome to the Main Page!</h1>
          <p>This is the main page information.</p>
        </ul>
        <hr />
        <p style="font-family: Comic-Sans; text-align: -webkit-center;">
          <font size="+2"
            ><a href="https://github.com/NotDarkn/website">GitHub</a> |
            <a href="https://github.com/NotDarkn/website/blob/main/CHANGES.md"
              >Changelogs</a
            >
             |
            <a href="https://github.com/NotDarkn/website/blob/main/TO-DO.md"
              >To-do List</a
            ></font
          >
          <br />
          <font size="3px"
            >a website by
            <a href="https://discord.com/users/829745505784692776"
              ><b>notdarkn#7188</b></a
            ></font
          >
        </p>
      </div>
    </body>
  </html>
</head>
