---
import "/public/css/icraze.sass";
import "/public/css/fonts.sass";
---

<!doctype html>
<head>
  <html lang="en-us">
    <meta charset="utf-8" />
    <head>
      <title>File Host Notice</title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta property="og:title" content="Notice" />
      <meta property="og:description" content="File Host Notice" />
      <meta property="og:url" content="https://darkn.bio/notice" />
      <meta property="og:type" content="website" />
      <meta property="og:image" content="/img/site-favicon.webp" />
      <meta property="og:image:alt" content="Sakamato" />
      <meta property="og:image:width" content="512" />
      <meta property="og:image:height" content="512" />
      <meta property="og:site_name" content="Profile" />
      <link rel="sitemap" href="/sitemap-index.xml" />
      <link rel="apple-touch-icon" href="/img/site-touch-icon.webp" />
      <link
        rel="apple-touch-icon"
        sizes="72x72"
        href="/img/site-touch-icon-72x72.webp"
      />
      <link rel="icon" type="image/x-icon" href="/img/site-favicon.webp" />
    <meta name="darkreader-lock">
    </head>
    <body>
        <p style="font-family: Comic-Sans; text-align: -webkit-center;">
          <font size="+3"><b>tl;dr: host is dead</b></font>
          <br />
          <font size="+1">microsoft and/or google to me lol </font>
        </p>
        <hr />
        <h1>What Happened?</h1>
            <font size="+1"
            ><p>
                On February 28th, 2025, my OneDrive had suddenly been taken down 
                because it was violating "<i>the Acceptable Use Policy located in 
                the Terms of Use.</i>"
              <br />
              <br />
                As unfortunate as this is, there isn't much I can do about it.
            </p></font
          >
        <br />
        <h2>Okay, What About The Files?</h2>
            <font size="+1"
            ><p>
                All of the files are currently inaccessible, meaning I cannot download,
                access, move, or do anything with them. This not only affects the files
                that are currently accessible on dl.darkn.bio, but also my own personal 
                files.
            <br />
            <br />
                Again, there isn't much I can do about it.
            </p></font
        >
        <br />
            <h2>Did You Appeal?</h2>
            <font size="+1"
            ><p>
                I have tried appealing, but as of 3/3/2025 1:02 AM, the appeal is still in
                process of being reviewed.
            <br />
            <br />
                Regardless, it's unlikely to be accepted. But I'll update this if it does.
            </p></font
        >
        <br />
            <h2>What Happens Now?</h2>
            <font size="+1"
            ><p>
                I leave. I move onto other endeavours and stop hosting, lol. If you want other
                hosts to use in the meantime, here:
            </p></font
        >
        <ul>
            <h2>
              <li><a href="https://dl.kxtz.dev/ChromeOS" target="_blank">dl.kxtz.dev</a></li>
            </h2>
            <div class="TweakInfo">
              <p>
                One I very much recommend, it's self-hosted and unlikely to go down. However,
                speeds may vary depending on where you are due to being self-hosted.
              </p>
            </div>
            <h2>
              <li><a href="https://dl.fanqyxl.net/" target="_blank">dl.fanqyxl.net</a></li>
            </h2>
            <div class="TweakInfo">
              <p>
                Another host from a person I know. Likely to be more updated, but hosted on
                Google Drive meaning it could go down very easily.
              </p>
            </div>
          </ul>
        <hr />
        <p style="font-family: Comic-Sans; text-align: -webkit-center;">
          <font size="+2">
            | 
              <a href="/">Back to Darkn's Bio</a> 
            |
          <br />
          <font size="3px">a website by
            <a href="https://discord.gg/ER8saRhYpg"><b>@notdarkn</b></a>
          </font>
          </font>
        </p>
      </div>
      <div id="snowflake-container"/>
      <script src="../../public/js/snowflakes.ts"></script>
      <script src="../../public/js/checkboxes.ts"></script>
    </body>
  </html>
</head>
