---
    import { SITE } from '$/config'
    import ModeLabel from './ModeLabel.svelte'
---
<footer class="footer">
    <nav class="nav">
        <div>2024  &copy; Darkn | made with ❤️ by <a href="https://darkn.bio">Darkn</a></div>
    </nav>
</footer>
<style>
    .footer {
        @apply py-6 border-t
    }
</style>
