---
import "@fontsource/inter";
import '../../../public/sh1mmer/downloader/style.sass';
import { CssVarsProvider, Box, Alert } from "@mui/joy";
---

<!doctype html>
<html lang="en">
  <head>
    <title>Glitz Downloader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta charset="UTF-8" />
    <meta property="og:title" content="Rehosted SH1mmer" />
    <meta property="og:description" content="SH1mmer: Downloader" />
    <meta property="og:url" content="https://osu.bio/sh1mmer/downloader" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://osu.bio/img/download.webp" />
    <meta property="og:image:alt" content="SH1mmer" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />
    <meta property="og:site_name" content="SH1mmer" />
    <link rel="icon" href="/img/download.webp" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preload" href="/sh1mmer/downloader/script.js" as="script" />
    <script is:inline src="/sh1mmer/downloader/script.js"></script>
  </head>
  <CssVarsProvider defaultMode="dark">
    <body onload="start()">
      <Box
        sx={{
          display: "flex",
          alignItems: "center",
          justifyContent: "center",
          flexDirection: "column",
          width: "100%",
        }}
      >
        <Alert
          id="compatAlert"
          sx={{ display: "none", marginBottom: "7px" }}
          color="danger"
          variant="outlined"
          size="lg"
        >
          Warning! You won't be able to download from the Discord mirror using
          this browser, switch to another.
        </Alert>
        <Alert
          id="mobileAlert"
          sx={{ display: "none", marginBottom: "7px" }}
          color="danger"
          variant="outlined"
          size="lg"
        >
          Warning! You won't be able to download from the Discord mirror using
          this device, switch to another.
        </Alert>
        <Alert
          id="corsAlert"
          sx={{ display: "none", marginBottom: "7px" }}
          color="danger"
          variant="outlined"
          size="lg"
        >
          CORS error! Please enable the CORS disabler extension. If you don't
          have one for your browser, switch to Chrome, install the extension,
          and try again. Reloading in 20 seconds...
        </Alert>
        <Alert
          id="defectiveMirrorAlert"
          sx={{ display: "none", marginBottom: "7px" }}
          color="danger"
          variant="outlined"
          size="lg"
        >
          The chosen mirror is defective, try choosing another after reloading!
          Reloading in 7 seconds...
        </Alert>
        <Alert
          id="dataAlert"
          sx={{ display: "none" }}
          color="danger"
          variant="outlined"
          size="lg"
        >
          Data error! Unable to fetch <code>data.json</code>.
        </Alert>
      </Box>
      <br />
      <h1>Glitz - RMA Shim Downloader</h1>
      <p>
        Glitz is a collection of mirrors for publicly-available RMA shims that
        can be used with <a href="/sh1mmer">SH1mmer</a>.<br />
         As of currently, Glitz provides five different mirrors to download
        shims from.<br />
      </p>
      <p>
        <b>Discord Download Instructions:</b>
        <br />
         1. Install
        <a
          href="https://chrome.google.com/webstore/detail/allow-cors-access-control/lhobafahddgcelffkeicbaginigeejlf"
          >this extension</a
        >, (or an equivalent)
        <br />
         2. Open the extension, and click the big "C" on the left to enable it.
        <br />
         3. Download your bin from the Discord mirror, and uninstall the
        extension after.
      </p>

      <select style="margin-right: 4px;" id="mirror">
        <option>select a mirror</option>
      </select>

      <select id="file" style="margin-left: 5px; display: none;">
        <option>select a board</option>
      </select>

      <button id="download" style="margin-left: 9px; display: none;"
        >download</button
      >

      <h3 style="display: none" id="progress"></h3>

      <br />

      <div class="float">
        <h3>
          In order to use these RMA shims to un-enroll your Chromebook, you will
          need to inject SH1mmer <a href="/sh1mmer/builder">here</a>.
          <br />
           These files aren't endorsed, created, provided, nor officially
          supported by <a href="https://mercurywork.shop">Mercury Workshop</a>.
        </h3>
      </div>

      <h3>
        <a href="https://discord.gg/bAgNyGpXSx">discord</a> •
        <a href="/">website</a> •
        <a href="https://github.com/NotDarkn/website">github</a>
      </h3>

      <p>
        <b>credits:</b>
        <br />
         dl.osu.bio & hosted & edited by
        <a href="https://discord.com/users/829745505784692776">@notdarkn</a><br
        />
         improvements all thanks to
        <a href="https://discord.com/users/836279485984538634">@waveeeeeee</a
        ><br />
         diffusehyperion.com by
        <a href="https://discord.com/users/301279262994857987"
          >@diffusehyperion</a
        ><br />
        sh1m.b0vik.dev by
        <a href="https://discord.com/users/609942266953465856">@twinspikes</a><br
        />
        dl.kxtz.dev by
        <a href="https://discord.com/users952792525637312552">@kxtzownsu</a><br
        />
         originally made by
        <a href="https://discord.com/users/1039648022084202516">@julia_j</a><br
        />
      </p>
      <p>
        <font size="+2"> ❤️ thank you ❤️</font>
      </p>
    </body>
  </CssVarsProvider>
</html>
